.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 3rem;
  margin: 2rem;
  background-color: #25252d;
  color: white;
  border-radius: 24px;
}

a {
  text-decoration: none;
  color: #9546C3;
}