.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem 3rem;
  margin: 2rem;
  background-color: #25252d;
  color: white;
  border-radius: 24px;
}

a {
  text-decoration: none;
  color: #9AC1B4;
  
}

p {
  margin: 0.6rem 0;
}

.comments {
  margin: 0.6rem 0;
}

.title {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #9AC1B4;
  max-width: 100%;
}

.userWrapper {
  display: flex;
  flex-direction: column;
}

.dateWrapper {
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1215px) {
  .dateWrapper {
    max-width: 40%;
  }  
}

@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: #25252d;
    color: white;
    border-radius: 24px;
  }
  .title {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: #D1E3DD;
  }
  .dateWrapper {
    max-width: 54%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  p {
    margin: 0.4rem 0;
  }
}