.button {
  width: 100px;
  padding: 0.5rem;
  background-color: #74AA98;
  color: #FBFBFB;
  border-radius: 6px;
  border: #74AA98 solid 2px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  transition: all 0.25s ease-in;
}

.button:hover {
  background-color: #272626;
  color: #74AA98;
  border: #74AA98 solid 2px;
}
.button:active a{

  background-color: #F5F5F5;
  color: #74AA98;
}